 body {
     padding: 25px;
     background-color: white;
     color: black;
     font-size: 25px;
     font-family: Arial, Helvetica, sans-serif;
}
 .dark-mode {
     background-color: black;
     color: white;
}

/* Header Styling */
 .header {
     padding: 80px;
    /* some padding */
     text-align: center;
    /* center the text */
     background: #1abc9c;
    /* green background */
     color: white;
    /* white text color */
}
/* Increase the font size of the <h1> element */
 .header h1 {
     font-size: 40px;
}
/* Navbar Styling */
/* Style the top navigation bar */
 .navbar {
     overflow: hidden;
     background-color: #333;
}
/* Style the navigation bar links */
 .navbar a {
     float: left;
     display: block;
     color: white;
     text-align: center;
     padding: 14px 20px;
     text-decoration: none;
}
/* Right-aligned link */
 .navbar a.right {
     float: right;
}
/* Change color on hover */
 .navbar a:hover {
     background-color: #ddd;
     color: black;
}
/* Footer Styling */
.footer {
    padding: 20px;
    /* Some padding */
    text-align: center;
    /* Center text*/
    background: #ddd;
    /* Grey background */
}


/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {

}