 body {
     padding: 25px;
     background-color: white;
     color: black;
     font-size: 25px;
     font-family: Arial, Helvetica, sans-serif;
}
 .dark-mode {
     background-color: black;
     color: white;
}

.fas, .fab {
    font-size: 0.7em;
}

/* Header Styling */
 .header {
     padding: 80px; /* add padding */
     text-align: center; /* center the text */
     background: #F9C6B0; /* add background */
     color: white; /* set text color to white */
}
/* Increase the font size of the <h1> element */
 .header h1 {
     font-size: 40px;
}
/* Navbar Styling */
/* Style the top navigation bar */
 .navbar, #navbar {
     overflow: hidden;
     background-color: #333;
}
/* Style the navigation bar links */
 .navbar a, #navbar a {
     /*float: left;*/
     display: block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
}
/* Right-aligned link */
 .navbar a.right {
     float: right;
}
/* Right-aligned link */
 .navbar a.left {
     float: left;
}
/* Change color on hover */
 .navbar a:hover, #navbar a:hover {
     color: #F9C6B0;
}
#navbar a.active {
  background-color: #4CAF50;
  color: white;
}
.content {
    padding: 16px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Footer Styling */
.footer {
    padding: 20px;
    /* Some padding */
    text-align: center;
    /* Center text*/
    background: #ddd;
    /* Grey background */
}


/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {

}