<!-- Footer Class -->
<div class="footer" id="contact">
 		<h2>Contact Me</h2>
		<div class="contact">
		<form action="https://formspree.io/xgearjrl" method="POST">
			<h3>Get In Touch</h3>
	 			<label> Your email: <br> <input type="text" name="_replyto"></label>
	 			<br>
	 			<label> Subject: <br> <input type="text" name="subject"></label>
	 			<br>
				<label> Your message: <br> <textarea name="message"></textarea></label>
				<br>

				<button type="submit">Send</button>
		</form>
	</div>

	<!-- Copyright -->
	<div class="copyright">
		<div class="menu">
			&copy; 2020 Untitled, Inc. All rights reserved
		</div>
	</div>
</div>